body {
    background-color: #f4f4f4;
}

.result {
    font-size: 1.2em;
}

.imc-table {
    text-align: left;
}

.highlight {
    background-color: #ffeb3b;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}
